* {
    box-sizing: border-box;
}



#header1 {
    text-align: center;
    background-color: black;
    color: white;
}
  .introduction {
    background-color: black;
    color: white;

    width: 100vw;
    text-align: center;
  }

 
  .mySlides {
    background:  black;
    display:none;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 10s;
  }

  
  
  @keyframes fade {
    from {opacity: .7}
    to {opacity: 1}
  }
  
  
  
  